:root {
    --background-color: #F5F2FE;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --primary-color: #6200ff;
    --default-color: black;
    --shadow: #999999;
}
body {
    font-family: var(--default-font-family);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    text-align: center;
    margin: 30px;
    color: black;
}
h1 {
    font-size: 96px;
    line-height: 1.5;
}
h2 {
    font-size: 64px;
}
h4 {
    font-size: 26px;
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.start {
    background: var(--background-color);
    text-align: center;
    padding: 160px 40px;
}
.start p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.start h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
.btn-branding-outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}
.btn-branding:hover {
    background: white;
    color: var(--default-color);
    border: 1px solid var(--primary-color);
}

.project-description {
    padding: 40px 60px;
}

.logo {
    max-height: 100px;
}
nav {
    padding: 0px 0;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 90px;
    margin-left: 15px;
}
nav a {
    text-decoration: none;
    color: black;
    transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
    color: var(--primary-color);
}
nav a {
    font-size: 14px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 60px;
        line-height: 56;
    }
    h2 {
        font-size: 44px;
    }
    .start {
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
}
.col img {
    margin-top: 160px;
}

.content-section {
    padding: 40px 40px;
}
.content-section h1 {
    font-size: 64px;
    line-height: 70px;
}
.content-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
    margin: 20px 0 0;
}
.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}
#contacts p {
    text-align: center;
}
#avatar img {
    margin-top: 250px;
}
.col-md-6 img {
    margin-top: 50px;
}

.col-md-6 a {
    margin: 0px 120px;
}

.aboutMeButton,
.worksButton,
.contactMeButton,
.viewProjectsButton {
    display: block;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 15px 10px;
    margin: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    box-shadow: 5px 5px 10px var(--shadow);
    transition: all 200ms ease-in-out;
}
.aboutMeButton:hover,
.worksButton:hover,
.contactMeButton:hover,
.viewProjectsButton:hover {
    opacity: 0.9;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
}
.col-md-6 a {
    text-decoration: none;
    margin: 0px;
    color: var(--primary-color);
}

.rowButtons a {
    text-decoration: none;
    margin: 10px;
    color: var(--primary-color);
}
.rowButtons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 0px;
}


footer {
    margin: 50px 0;
}
footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
footer .email-link:hover {
    color: var(--primary-color);
}
footer .links a {
    margin: 0 20px;
    color: var(--default-color);
    background: var(--background-color);
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 14px;
    transition: all 150ms ease-in-out;
}
footer .links a:hover {
    color: var(--background-color);
    background: var(--primary-color);
}
footer .contact-box {
    background: var(--background-color);
    padding: 30px;
    border-radius: 10px;
}
footer .contact-box p {
    padding-left: 30px;
}